<div id="page-container">
  <div id="show-view" class="container">
    <div id="show-view-next" class="flex-grow-1">
      <h1 class="title"><%= @cocktail.name %></h1>
      <div id="show-view-left">
        <div class="flex-grow-1">
          <div class="show-view-desc">
            <span><i class="fas fa-euro-sign"></i> <%= @cocktail.price %></span>
            <span><i class="fas fa-stopwatch"></i> <%= @cocktail.prep_time %>min</span>
            <span><i class="fas fa-users"></i> <%= @cocktail.number_of_pers %></span>
          </div>
          <div class="ingredients"><h3>Ingredients</h3> <span><i class='fas fa-plus-circle' id="btn-add-ingredient"></i></span></div>
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <div class="ingredient">
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class='fas fa-trash'></i>
                <% end %>
                  <li>
                    <%= image_tag("icons/#{dose.ingredient.icon}") %> ~ <%= dose.quantity %> <%= dose.ingredient.name %>
                  </li>
              </div>
            <% end %>
          </ul>
          <div class="action-btn">
            <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn" %>
            <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "edit-btn" %>
          </div>
        </div>
          <div id="steps">
            <ol>
              <% @cocktail.doses.each do |dose| %>
                <li><%= dose.description %></li>
              <% end %>
            </ol>
          </div>
      </div>
    </div>
    <% if @cocktail.photo.attached? %>
      <div id="img-big"><%= cl_image_tag @cocktail.photo.key %></div>
    <% else %>
      <div id="img-big"><%= image_tag "cocktails/missing_img.jpg" %></div>
    <% end %>
  </div>
</div>

<%= render 'shared/modaldose', cocktail: @cocktail, dose: @dose %>
